.event-box {
    background-color: #ededed;
    padding-right: 90px;
    height: 65px;
}

.events-header {
    font-size: 20px;
    margin-left: 5px;
    margin-bottom: 20px;
}

.event-button-box {
    display: flex;
    flex-direction: column;
    justify-content: left;
    border: 0;
    height: 100%;
    width: 100%;
    background-color: #ededed;
}

.event-name {
    text-indent: 0;
    margin-left: 0;
    font-size: 20px;
    /*float: left;*/
    width: max-content;
    width: -moz-max-content;
}


.event-country, .event-dates {
    width: max-content;
    width: -moz-max-content;
    color: #3c3c3c;
}

.open-events {
    margin-right: 35%;
}

.events {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 1000px) {
    .open-events {
        margin-right: 20%;
    }
}

@media (max-width: 830px) {
    .events {
        flex-direction: column;
    }
}
