.menu-hello-message {
    margin-bottom: 20px;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    width: max-content;
    width: -moz-max-content;
}

.designed_button {
    width: available;
    width: -moz-available;
}