body {
    display: flex;
    flex-direction: row-reverse;
    height: 97%;
    justify-content: space-between;
}

.cancel-button, .add-result-button, .save-button {
    width: 100%;
}

.add-result-button {
    padding-bottom: 40px;
    padding-top: 7px;
    margin-bottom: 80px;

}

.search_panel {
    /*float: left;*/
    background-color: #ededed;
    display: flex;
    height: 100%;
    width: 30%;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
}

.event_search_block {
    position: static;
    width: auto;
    height: 48%;
    border-style: solid;
    border-width: 1px;
}

.team_search_box {
    position: static;
    width: auto;
    height: 48%;
    border-style: solid;
    border-width: 1px;
}

.search_box {
    height: 100%;
    /*width: auto;*/
    overflow: auto;
}

.search_input {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #ededed;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
}

.workspace {
    background-color: #f9f9f9;
    overflow: auto;
    width: available;
    width: -moz-available;
    /*overflow: hidden;*/
    margin: 0;
}

.result {
    margin: 5px;
}

.result-container {
    margin: 8px;
}

.cancel-button {
    margin-bottom: 20px;
}

.control-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 110px;
    background-color: #ededed;
}

@media (max-width: 1000px) {
    .search_panel {
        width: 295px;
    }
}

@media (min-width: 1300px) {
    .search_panel {
        width: 440px;
    }
}

@media (max-width: 750px) {
    body {
        width: 750px;
    }
}

