.table-row {
    height: 20px;
    padding: 20px;
    /*margin: 20px;*/
    /*border: 2px solid;*/
    /*background-color: #a8cbff;*/
}

td {
    margin: 20px;
    padding: 20px;
}

.table-head {
    color: white;
    background-color: #19191b;
    position: sticky;
    position: -webkit-sticky;
}

.event-name {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}

.event-info {
    margin-bottom: 50px;
}

.no-data-message {
    font-size: 30px;
    font-weight: 600;
}

/*.position-label .car-number-label . {*/
/*    */
/*}*/

.position-label, .car-number-label {
    background-color: #ededed;
}

