.team-creation {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 200px;
}

.check-box {
    width: -moz-min-content;
    width: min-content;
}

input {
    margin-bottom: 15px;
}

.designed_button {
    margin-top: 20px;
}